<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!--	включает обработку аннотаций, добавляя постпроцессоры для обработки общих аннотаций-->
	<context:annotation-config/>

<!--	постпроцессор для обработки общих аннотаций спринг, находится в <context:annotation-config/>-->
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>


	<bean class="jugru.proxy_example.profiling.ProfilingHandlerBPP"/>
	<bean class="jugru.custom_annotation.RundomIntAnnotationBPP"/>


	<bean id="quoterImpl" class="jugru.proxy_example.base.QuoterImpl"
	  	p:message="Hello"/>

</beans>





